div.week {
    margin-bottom: 75px;
    height: 432px;
    min-height: 432px;
}

div.week div.games {
    margin: 0px;
    min-width: 576px;
    max-width: 576px;
    min-height: 432px;
    max-height: 432px;
}

div.week div.games h2 {
    margin: 0px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 556px;
    max-width: 556px;
}

div.demos {
    display: table;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1em;
    height: 100%;
    width: 566px;
    max-width: 566px;
    min-height: 300px;
    max-height: 300px;
}

div.game_row {
    display: table-row;
}

div.demos div.table_row div.table_cell {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    width: 10px;
    min-width: 10px;
    text-align: center;
}

div.red_team {
    background-color: rgba(128, 0, 0, .5);
}

div.blue_team {
    background-color: rgba(17, 60, 192, .5);
}

div.red_player {
    color: #a00000;
}

div.blue_player {
    color: #2060CC;
}

div.red_player a, div.blue_player a {
    color: white;
}

div.spacer {
    padding-left: 15px;
    padding-right: 15px;
}

div.red_player a:hover {
    color: #800000;
    font-weight: bold;
    text-decoration: none;
}

div.blue_player a:hover {
    color: #2060CC;
    font-weight: bold;
    text-decoration: none;
}

